*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav{
    height: 80px;
    width: 100%;
    background-color: #1183fc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

#nav>a{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
}


#myform{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article {
    
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
 
button:hover {
    background-color: #0062cc;
}


#usersHome{
    height: 90vh;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #007bff; */
    flex-wrap: wrap;
}
#cards{
    border-radius: 15px;
    height: 250px;
    width: 250px;
    /* background-color: #0062cc; */
    /* background-color: rgb(220, 220, 220); */
    /* margin: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
    display: flex;
    justify-content: center;
    margin: 20px;
}
#cards>table>tr td,th{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
#cards>table>tr>th{
    padding-top: 20px;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: underline; */
    /* padding-bottom: 30px; */
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#lin{
    text-decoration: none;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
 
#lin:hover {
    background-color: #0062cc;
}

#cards>table>tr>td>button{
    background-color: red;
}
#cards>table>tr>td>button:hover{
    background-color: rgb(212, 14, 14);
}
